.wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffff;
  padding-bottom: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px 15px;
}

.text {
  font-size: 18px;
}
